@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* White Shades */
  --color-white-50: #f9fafb;
  --color-white-100: #f3f4f6;
  --color-white-200: #e5e7eb;
  --color-white-300: #d1d5db;
  --color-white-400: #9ca3af;
  --color-white-500: #6b7280;
  --color-white-600: #4b5563;
  --color-white-700: #374151;
  --color-white-800: #1f2937;
  --color-white-900: #111827;

  /* Black Shades */
  --color-black-50: #737373;
  --color-black-100: #525252;
  --color-black-200: #404040;
  --color-black-300: #262626;
  --color-black-400: #171717;
  --color-black-500: #0f0f0f;
  --color-black-600: #0a0a0a;
  --color-black-700: #050505;
  --color-black-800: #030303;
  --color-black-900: #000000;

  /* primary (Blue) Shades */
  --color-primary-50: #e8f2fc;
  --color-primary-100: #d1e4fa;
  --color-primary-200: #a3c9f5;
  --color-primary-300: #76adee;
  --color-primary-400: #4a90e2;
  --color-primary-500: #3975b8;
  --color-primary-600: #2e5e91;
  --color-primary-700: #23476a;
  --color-primary-800: #1a3142;
  --color-primary-900: #0f1921;

  --bg-z0: var(--color-white-100);
  --bg-z1: var(--color-primary-400);
  --h1: var(--color-primary);
  --h2: var(--color-white-200);
}

.dark {
  /* Black Shades for Dark Mode */
  --color-black-50: #d1d5db;
  --color-black-100: #a3aab3;
  --color-black-200: #757c8b;
  --color-black-300: #484f63;
  --color-black-400: #313746;
  --color-black-500: #1f2431;
  --color-black-600: #151922;
  --color-black-700: #0d1118;
  --color-black-800: #06080d;
  --color-black-900: #000000;

  /* Primary (Blue) Shades for Dark Mode */
  --color-primary-50: #1a2734;
  --color-primary-100: #1f3a52;
  --color-primary-200: #264c6b;
  --color-primary-300: #2d5f84;
  --color-primary-400: #34729d;
  --color-primary-500: #3e87b8;
  /* Base blue for dark mode */
  --color-primary-600: #5ba3d3;
  --color-primary-700: #7bc0e7;
  --color-primary-800: #9cddff;
  --color-primary-900: #b9eaff;

  --bg-z0: var(--color-black-400);
  --bg-z1: var(--color-black-500);
  --h1: var(--color-white-900);
  --h2: var(--color-white-600);
}

body {
  background-color: var(--bg-z0);
}

.dark body {
  @apply text-white;
}

h1 {
  @apply text-primary text-lg;
}

h1.display {
  @apply text-xl font-bold capitalize mb-4;
}

h1.on-z1 {
  @apply text-white;
}

.card {
  @apply rounded-lg text-[var(--h2)] p-2;
}

.card.on-z0 {
  @apply bg-[var(--bg-z1)];
}

.card.on-z1 {
  @apply bg-[var(--bg-z0)];
}

.hov-box {
  @apply card dark:hover:text-white hover:text-primary-50 hover:font-semibold;
}

.hov-box.on-z1 {
  @apply bg-[var(--bg-z1)] dark:text-white-400 hover:bg-[var(--bg-z0)];
}

.hov-circle {
  @apply p-2 rounded-full text-[var(--h2)] dark:text-white-400;
}

.hov-circle.on-z1 {
  @apply hover:bg-[var(--bg-z0)] hover:text-white dark:hover:text-[var(--h1)];
}
